h1 {
    text-align: center;
    font-family: "Verdana";
}

body {
    background-color: #eaeaea ;
}

ul {
    background-color:AntiqueWhite ;
    border: solid;
    border-color: saddlebrown;
    padding: 20px;
    width: fit-content;
     height: fit-content;
     margin: 0 auto;
     font-family: "Trebuchet MS";


}

li {
    margin: 10px 0;

}

img {
    margin: 0px auto;
    display: block;
}

ol {
    background-color:lightskyblue ;
    border: solid;
    border-color: saddlebrown;
    padding: 20px;
    width: fit-content;
     height: fit-content;
     margin: 0 auto;
     font-family: "Trebuchet MS";


}

p {
    font-family: "Trebuchet MS";
}
